# Bearbeitung des Checkout-Datensatzes der Seattle Public Library in einem Jupyter Notebook

Die Aufgabenstellung sieht vor, die Lösungen zu fünf unterschiedlichen Fragen, die mit den Daten beantwortet werden können, mithilfe von Python zu implementieren. Mindestens drei der Fragestellungen sollten zu einer Grafik führen. Die Verfasserin entscheidet sich für die Checkouts des Jahres 2018.

Das sind die folgenden fünf Fragen:

In [1]:
# Als ersten Schritt müssen die entsprechenden Libraries importiert werden.

import urllib.request
import pandas as pd

In [2]:
# Anschließend werden zwei neue Variablen definiert.

checkouts_url = "https://data.seattle.gov/resource/tmmm-ytt6.csv?$where=checkoutyear=2018&$limit=10000"
checkouts_file = "checkouts.csv"

In [3]:
# Nun müssen die Daten heruntergeladen werden.

urllib.request.urlretrieve(checkouts_url, checkouts_file)

('checkouts.csv', <http.client.HTTPMessage at 0x2fc03a49d48>)

In [4]:
# Mithilfe von Pandas werden die Daten nun anschaulich dargestellt.

checkouts = pd.read_csv(checkouts_file)

In [5]:
# Jetzt können die Daten angezeigt werden.

checkouts

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
0,Physical,Horizon,BOOK,2018,12,1,The naked lady who stood on her head : a psych...,"Small, Gary, 1951-","Small Gary 1951, Psychiatry Popular works, Psy...","William Morrow,",[2010]
1,Physical,Horizon,BOOK,2018,12,1,The night of the iguana / by Tennessee Williams.,"Williams, Tennessee, 1911-1983",NaN,"Dramatists Play Service,",[1991]
2,Physical,Horizon,SOUNDDISC,2018,12,1,Tender is the night / F. Scott Fitzgerald.,"Fitzgerald, F. Scott (Francis Scott), 1896-1940","Psychiatrists Fiction, Wealth Moral and ethica...","Naxos AudioBooks,",[2010]
3,Physical,Horizon,BOOK,2018,12,1,Be prepared fishing / Henry Gilbey.,"Gilbey, Henry",Fishing,"DK Pub.,",2008.
4,Physical,Horizon,BOOK,2018,12,1,What Darwin saw : the journey that changed the...,"Schanzer, Rosalyn","Darwin Charles 1809 1882 Juvenile literature, ...","National Geographic,",[2009]
...,...,...,...,...,...,...,...,...,...,...,...
9995,Physical,Horizon,BOOK,2018,12,2,My little polar bear / Claudia Rueda.,"Rueda, Claudia","Polar bear Juvenile fiction, Bears Juvenile fi...","Scholastic Press,",2009.
9996,Digital,OverDrive,EBOOK,2018,12,1,"Love Over Scotland: 44 Scotland Street Series,...",Alexander McCall Smith,"Fiction, Humor (Fiction), Mystery","Random House, Inc.",2009
9997,Digital,OverDrive,EBOOK,2018,12,2,The India Fan,Victoria Holt,"Fiction, Historical Fiction, Romance, Suspense",Sourcebooks,2013
9998,Physical,Horizon,VIDEODISC,2018,12,5,"30 Rock. Season 7, the final season / Universa...",NaN,"Rockefeller Center Drama, Television comedy wr...","Universal Studios Home Entertainment,",[2013]
9999,Physical,Horizon,BOOK,2018,12,1,Michelle Obama : meet the first lady / by Davi...,"Brophy, David Bergen","Obama Michelle 1964 Juvenile literature, Obama...","Collins,",[2009]

In [8]:
# Da ich nicht alle Spalten für meine Auswertung benötige, lasse ich nun nur die für mich relevanten Spalten anzeigen. So wird es übersichtlicher.

checkouts[["usageclass", "materialtype", "checkoutmonth", "checkouts", "title", "creator", "publisher"]]

,usageclass,materialtype,checkoutmonth,checkouts,title,creator,publisher
0,Physical,BOOK,12,1,The naked lady who stood on her head : a psych...,"Small, Gary, 1951-","William Morrow,"
1,Physical,BOOK,12,1,The night of the iguana / by Tennessee Williams.,"Williams, Tennessee, 1911-1983","Dramatists Play Service,"
2,Physical,SOUNDDISC,12,1,Tender is the night / F. Scott Fitzgerald.,"Fitzgerald, F. Scott (Francis Scott), 1896-1940","Naxos AudioBooks,"
3,Physical,BOOK,12,1,Be prepared fishing / Henry Gilbey.,"Gilbey, Henry","DK Pub.,"
4,Physical,BOOK,12,1,What Darwin saw : the journey that changed the...,"Schanzer, Rosalyn","National Geographic,"
...,...,...,...,...,...,...,...
9995,Physical,BOOK,12,2,My little polar bear / Claudia Rueda.,"Rueda, Claudia","Scholastic Press,"
9996,Digital,EBOOK,12,1,"Love Over Scotland: 44 Scotland Street Series,...",Alexander McCall Smith,"Random House, Inc."
9997,Digital,EBOOK,12,2,The India Fan,Victoria Holt,Sourcebooks
9998,Physical,VIDEODISC,12,5,"30 Rock. Season 7, the final season / Universa...",NaN,"Universal Studios Home Entertainment,"
9999,Physical,BOOK,12,1,Michelle Obama : meet the first lady / by Davi...,"Brophy, David Bergen","Collins,"

## 1. Frage: Welches Medium wurde 2018 am häufigsten ausgeliehen?

In [9]:
# Dafür frage ich zunächst ab, wie viele Medien überhaupt über 300 mal ausgeliehen wurden, um eine erste Einschätzung zu erlangen. Dies geschieht mithilfe einer Liste und folgendem Befehl:

checkouts["checkouts"] >= 300

0       False
1       False
2       False
3       False
4       False
        ...
9995    False
9996    False
9997    False
9998    False
9999    False
Name: checkouts, Length: 10000, dtype: bool

In [10]:
# Anschließend möchte ich dies nun in Form einer Tabelle haben. 

checkouts[checkouts["checkouts"] >= 300]

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
7356,Physical,Horizon,BOOK,2018,12,585,Past tense / Lee Child.,"Child, Lee","Reacher Jack Fictitious character Fiction, Voy...","Delacorte Press,",2018.
8135,Digital,OverDrive,AUDIOBOOK,2018,12,345,Becoming (Unabridged),Michelle Obama,"African American Nonfiction, Biography & Autob...",Books on Tape,2018

In [11]:
# Auch wenn es offensichtlich ist, dass es nur zwei Einträge gibt, möchte ich dies nochmal bestätigt haben.

filtered_checkouts = checkouts[checkouts["checkouts"] >= 300]

In [12]:
# Mithilfe von "shape" finde ich nun heraus, dass es zwei Einträge gibt, die mehr als 300 mal ausgeliehen wurden.

filtered_checkouts.shape

(2, 11)

In [16]:
# Mit dem Befehl "max" finde ich nun außerdem heraus, dass ein Medium 585 mal ausgeliehen wurde - was die höchste Ausleihzahl eines Mediums darstellt.

checkouts.checkouts.max()

585

In [18]:
# Doch um welches Medium handelt es sich hierbei?

checkouts[checkouts["checkouts"] == checkouts.checkouts.max()]

,usageclass,checkouttype,materialtype,checkoutyear,checkoutmonth,checkouts,title,creator,subjects,publisher,publicationyear
7356,Physical,Horizon,BOOK,2018,12,585,Past tense / Lee Child.,"Child, Lee","Reacher Jack Fictitious character Fiction, Voy...","Delacorte Press,",2018.

## Ergebnis Frage 1

"Past Tense" von Lee Child ist das meist ausgeliehene Medium der Seattle Public Library 2018.